.banner {
    width: 100%;
    min-width: 1200px;
    background: #392f59 url(http://ms0.meituan.net/mywww/banner_bg.f7fd103e3b8c16b6f449cce43fc57f45.png) no-repeat 50%;
}

.banner .wrapper {
    width: 1200px;
    margin: 0 auto;
    height: 376px;
    position: relative;
}
.cinema-banner .wrapper {
    height: 320px;
    position: relative;
    top: 70px;
}
.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}
.banner .wrapper .cinema-left {
    width: 360px;
    float: left;
    overflow: hidden;
    z-index: 9;
}
.banner .wrapper .cinema-main {
    position: relative;
    float: left;
    max-width: 600px;
}
.clearfix:after {
    clear: both;
}
.cinema-left .avatar-shadow {
    width: 300px;
    height: 300px;
    background-size: 300px 50px;
    position: relative;
}
.celeInfo-left .avatar-shadow, .cinema-left .avatar-shadow {
    position: relative;
    margin: 0 30px;
    width: 240px;
    height: 330px;
    padding-bottom: 40px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAAAyAgMAAAAfG76+AAAADFBMV…7VPEI076YAUGbzfwrAqOYRormcAjCANodSAEY1j2oexJoBlx1+yE7RXIIAAAAASUVORK5CYII=) no-repeat bottom;
}
.banner .wrapper .cinema-brief-container {
    color: #fff;
}
.cinema-left .avatar-shadow .avatar {
    border: 4px solid #fff;
    height: 292px;
    width: 292px;
}
.banner .wrapper .cinema-brief-container {
    color: #fff;
}
.banner .wrapper .cinema-brief-container .name {
    margin: 0;
    font-size: 26px;
    margin-bottom: 9px;
    font-weight: 400;
    color: #fff;
}
.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.banner .wrapper .cinema-brief-container .address, .banner .wrapper .cinema-brief-container .telphone1 {
    font-size: 14px;
    margin-bottom: 6px;
}
.banner .wrapper .cinema-brief-container .telphone1 {
    margin-bottom: 20px;
}
.banner .wrapper .cinema-brief-container .address, .banner .wrapper .cinema-brief-container .telphone1 {
    font-size: 14px;
    margin-bottom: 6px;
}
.banner .wrapper .cinema-brief-container .features-group {
    position: relative;
}
.banner .wrapper .cinema-brief-container .features-group .group-title {
    font-size: 14px;
    margin-bottom: 5px;
    overflow: hidden;
    width: 410px;
}
.banner .wrapper .cinema-brief-container .features-group .feature {
    font-size: 12px;
    margin-bottom: 2px;
    position: relative;
    min-height: 22px;
    line-height: 23px;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
}
.banner .wrapper .cinema-brief-container .features-group .group-title:after {
    border-top: 1px solid hsla(0,0%,100%,.7);
    display: block;
    content: "";
    position: relative;
    top: -10px;
    left: 70px;
}
.banner .wrapper .cinema-brief-container .features-group .feature .tag {
    display: inline-block;
    border: 1px solid hsla(0,0%,100%,.6);
    border-radius: 2px;
    min-width: 60px;
    height: 22px;
    line-height: 23px;
    text-align: center;
}
.banner .wrapper .cinema-brief-container .features-group .feature .desc {
    display: inline-block;
    max-width: 438px;
    margin-left: 5px;
    vertical-align: middle;
}
.banner li, .banner p, .banner ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
}
.banner .wrapper .cinema-brief-container .features-group .feature .desc {
    display: inline-block;
    max-width: 438px;
    margin-left: 5px;
    vertical-align: middle;
}
.ditu{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
}
.wzf_lunbo{
    width: 1200px;
    height: 180px;
    margin: 0 auto;
    margin-top: 120px;
    
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 180px;
    background: #ededed;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .wzf_lb_item{
    margin:25px 15px ;
    overflow: hidden;
    float: left;
 
    
  }
  .wzf_lb_item img{
    width: 162px;
    height: 227px;
    border: 4px solid #fff;
  }
  .wzf_lb_item .img_active{
    width: 170px;
    height: 235px;
    border: 4px solid red;

  }
   {
    margin-top: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.show-list .show-date {
    padding: 30px 0;
    font-size: 14px;
    color: #999;
}
 .movie-name {
    display: inline-block;
    margin: 0 20px 20px 0;
    font-size: 26px;
    font-weight: 400;
    color: #333;
}
 .score {
    display: inline-block;
    font-size: 24px;
    color: #faaf00;
}
 .sc:after {
    content: "\5206";
    font-size: 12px;
}
 .movie-desc>div {
    display: inline-block;
    font-size: 14px;
    color: #151515;
    margin-bottom: 20px;
    margin-right: 40px;
}
 .movie-desc .key {
    color: #999;
}
 .movie-desc>div {
    display: inline-block;
    font-size: 14px;
    color: #151515;
    margin-bottom: 20px;
    margin-right: 40px;
}
.show-list .show-date {
    padding: 30px 0;
    font-size: 14px;
    color: #999;
}
.show-list .show-date .date-item.active {
    color: #fff;
    background-color: #f03d37;
}
.show-list .plist-container.active {
    display: block;
}
.show-list .plist {
    width: 100%;
    border: none;
    border-spacing: 0;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
.show-list .plist thead {
    background-color: #f7f7f7;
    color: #333;
    font-size: 16px;
    padding: 18px 0;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.show-list .plist thead {
    background-color: #f7f7f7;
    color: #333;
    font-size: 16px;
    padding: 18px 0;
}
.show-list .plist thead th {
    padding: 16px 0;
}
.show-list .plist tbody tr {
    height: 82px;
}
.show-list .plist tbody .even {
    background-color: #f9f9f9;
}
.show-list .plist tbody td {
    text-align: center;
    width: 20%;
}
.movie-info{
    padding-top: 180px;
}
.movie-info_bao{
    width: 1200px;
    margin: 0 auto;

}